<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">

<div class="container">
    <a href="/" class="navbar-brand">Tralee Guide</a>
    <button class="navbar-toggler" type="button data-toggle="collapse" data-target="#mobile-nav">
        <span class="navbar-toggle-icon"></spa>
    </button>

    <div class="collapse navbar-collapse" id="mobile-nav">
        <ul class="navbar-nav m1-auto">
            <li class="nav-item">
                <a href="/activity/new" class="nav-link">New Activity</a>
            </li>
        </ul>
    </div>

</div>
</nav>